.dashboard {
  background-color: transparent;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.7);

  color: #d8dee9;
  font-family: 'Courier New', monospace;
  font-weight: bold;
  font-size: 24px;

  /* Puedes usar márgenes y paddings */
  padding: 10px;
}

.clock {
  background-color: #2e3440;
}
